.sidebar-brand-text{
    font-size: 12px;
    
}

.bg-login-image {
    background: url('img/warehouse.png');
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url('img/password-forget.jpg');
    background-position: center;
    background-size: cover;
}


label.requerido:after{
    content: " *";
    color: #e73d4a
}


.close-btn-size{
    font-size: 11px !important;
}


